.badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.badge.en\ attente {
    background-color: orange;
}

.badge.validé {
    background-color: green;
}

.badge.refusé {
    background-color: red;
}

.btn {
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.btn.green {
    background-color: #2ecc71;
}

.btn.red {
    background-color: #e74c3c;
}
