body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

.topbar{
background:#004b8d;
display:flex;
align-items:center;
padding:10px;
}

.logo{
height:60px;
margin-right:20px;
}

nav a{
color:white;
text-decoration:none;
margin-right:15px;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

.container{
padding:30px;
min-height:70vh;
}

footer{
background:#b40000;
color:white;
text-align:center;
padding:10px;
}

.login-box{
background:white;
padding:40px;
max-width:300px;
margin:80px auto;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,.2);
}

.login-box input{
width:100%;
padding:10px;
margin-bottom:15px;
}

.login-box button{
width:100%;
padding:10px;
background:#004b8d;
color:white;
border:none;
cursor:pointer;
}
.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #003b6f;
    color: white;
}

td, th {
    padding: 8px;
    border: 1px solid #ccc;
}
