body{margin:0;font-family:Arial;background:#f2f2f2}

header{
background:#003a63;
padding:10px;
display:flex;
align-items:center
}

.logo{height:60px;margin-right:20px}

nav a{
color:white;
text-decoration:none;
background:#1f6fa8;
padding:8px 12px;
border-radius:4px;
margin-right:6px
}

nav a:hover{background:#e30613}

.container{padding:20px}

table{width:100%;border-collapse:collapse;background:white}

th{background:#003a63;color:white}
td,th{padding:6px;border:1px solid #ccc}

footer{
background:#003a63;
color:white;
text-align:center;
padding:10px;
margin-top:40px
}
