{% extends "base.html" %}
{% block content %}

<h2>{{ agent.prenom }} {{ agent.nom }}</h2>

<h3>Matériel actuellement affecté</h3>

<table>
<tr>
<th>Nom</th>
<th>Série</th>
<th>Type</th>
<th>Contrôle EPI</th>
<th>Actions</th>
</tr>

{% for m in materiels %}
<tr>
<td>{{ m.nom }}</td>
<td>{{ m.numero_serie }}</td>
<td>{{ m.type }}</td>
<td>{{ m.date_controle }}</td>

<td>

<!-- STOCK / RÉFORME -->
<form method="POST" action="/action_materiel" style="display:inline">

    <input type="hidden" name="id" value="{{ m.id }}">

    <button name="action" value="stock">Remettre stock</button>

    <button name="action" value="reforme">Réformer</button>

</form>

<!-- ÉCHANGE ADMIN -->
<form method="POST" action="/admin/demande_echange" style="display:inline">

    <input type="hidden" name="materiel" value="{{ m.numero_serie }}">
    <input type="hidden" name="agent" value="{{ agent.login }}">

    <button style="background:#ff9800;color:white">Échanger</button>

</form>

</td>
</tr>
{% endfor %}
</table>

<hr>

<h3>Historique</h3>

<table>
<tr>
<th>Date</th>
<th>Matériel</th>
<th>Action</th>
</tr>

{% for h in historique %}
<tr>
<td>{{ h.date[:16] }}</td>
<td>{{ h.materiel }}</td>
<td>{{ h.action }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
