<header class="topbar">

<div class="brand">
    <img src="{{ url_for('static', filename='images/logo_nautique.jpeg') }}">
    <div class="titles">
        <div class="main-title">MATÉRIEL NAUTIQUE</div>
        <div class="sub-title">SDIS 55 — Équipe spécialisée</div>
    </div>
</div>

<nav>
<a href="{{ url_for('accueil') }}">Accueil</a>
<a href="{{ url_for('inventaire') }}">Inventaire</a>
<a href="{{ url_for('echanges') }}">Échanges</a>

{% if session.role == "Admin" %}
<a href="{{ url_for('fiches_agents') }}">Fiches agents</a>
<a href="{{ url_for('admin_agents') }}">Administration</a>
{% endif %}

<a href="{{ url_for('ma_fiche') }}">Ma fiche</a>
<a href="{{ url_for('logout') }}">Déconnexion</a>

</nav>

</header>
