<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<header>
<img src="{{ url_for('static',filename='images/logo_nautique.jpeg') }}">

<nav>
<a href="{{ url_for('accueil') }}">Accueil</a>
<a href="{{ url_for('echanges') }}">Échanges</a>
<a href="{{ url_for('inventaire') }}">Inventaire</a>
<a href="{{ url_for('interventions') }}">Interventions</a>
<a href="{{ url_for('fiches_agents') }}">Fiches agents</a>
<a href="{{ url_for('ma_fiche') }}">Ma fiche</a>

{% if role=="Admin" %}
<a href="{{ url_for('admin_agents') }}">Administration</a>
{% endif %}

<a href="{{ url_for('deconnexion') }}">Déconnexion</a>
</nav>
</header>

<div class="container">

<div class="compteur-box">
<div>
<h2>Interventions {{ now().year }}</h2>
</div>

<div class="compteur-num">
{{ compteur }}
</div>
</div>

<div class="card">
<h3>Bienvenue {{ prenom }} {{ nom }}</h3>
<p>Gestion du matériel nautique – EPI – Agents – Interventions</p>
</div>

</div>

<footer>
Développé par Christophe BOUDOT
</footer>

</body>
</html>
