<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Inventaire</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="topbar">
<img src="{{ url_for('static', filename='images/logo_nautique.jpeg') }}" class="logo">

<nav>
<a class="tab" href="{{ url_for('accueil') }}">Accueil</a>
<a class="tab" href="{{ url_for('echanges') }}">Échanges</a>
<a class="tab active" href="{{ url_for('inventaire') }}">Inventaire</a>
<a class="tab" href="{{ url_for('interventions') }}">Interventions</a>
<a class="tab" href="{{ url_for('ma_fiche') }}">Ma fiche</a>

{% if role=="Admin" %}
<a class="tab" href="{{ url_for('admin_agents') }}">Administration</a>
{% endif %}

<a class="tab logout" href="{{ url_for('deconnexion') }}">Déconnexion</a>
</nav>
</header>

<main class="container">
<h2>Inventaire magasin</h2>
<p>Contenu du magasin</p>
</main>

<footer class="footer">
Développé par Christophe BOUDOT
</footer>

</body>
</html>
