{% extends "base.html" %}
{% block content %}

<h2>Inventaire</h2>

<h3>Ajouter matériel</h3>

<form method="POST">
    <input name="nom" placeholder="Nom matériel" required>
    <input name="numero" placeholder="N° série">
    <input name="type" placeholder="Type">
    <input type="date" name="date">
    <button>Ajouter</button>
</form>

<hr>

<table>
<tr>
<th>Nom</th>
<th>Série</th>
<th>Type</th>
<th>Statut</th>
<th>Agent</th>
<th>Action</th>
</tr>

{% for m in items %}
<tr>
<td>{{ m.nom }}</td>
<td>{{ m.numero_serie }}</td>
<td>{{ m.type }}</td>
<td>{{ m.statut }}</td>
<td>{{ m.agent }}</td>

<td>

<form method="POST" action="/action_materiel">

<input type="hidden" name="materiel_id" value="{{ m.id }}">

{% if m.statut != "reforme" %}

<select name="agent">
<option value="">-- agent --</option>

{% for a in agents %}
<option value="{{ a.login }}">{{ a.prenom }} {{ a.nom }}</option>
{% endfor %}

</select>

<button type="submit" name="action" value="affecter">Affecter</button>
<button type="submit" name="action" value="reformer">Réformer</button>

{% endif %}

</form>

</td>
</tr>
{% endfor %}
</table>

{% endblock %}
