{% extends "base.html" %}
{% block content %}

<div class="auth">
  <div class="card auth__card">
    <h1 class="h1">Connexion</h1>
    {% if error %}
      <div class="alert alert--danger">{{ error }}</div>
    {% endif %}

    <form method="POST" class="form">
      <label class="label">Identifiant</label>
      <input class="input" name="login" placeholder="ex: admin" required>

      <label class="label">Mot de passe</label>
      <input class="input" type="password" name="password" placeholder="••••••••" required>

      <button class="btn btn--primary" type="submit">Connexion</button>
    </form>
  </div>
</div>

{% endblock %}
